@import url("https://fonts.googleapis.com/css2?family=Felipa&family=Fondamento&family=New+Rocker&display=swap");
/* normal-reverse game mode popup */
.visible {
  display: flex;
}

.hidden {
  display: none;
}

.wizard-pic {
  display: none;
}

body,
html {
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url(/assets/wepik-export-202402062316101xkV.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
}

.normal-game-title {
  color: white;
  text-shadow: 1px 3px 4px red;
  font-family: "New Rocker", system-ui;
  font-size: 3.5rem;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.normal-game-popup {
  justify-content: end;
  align-items: center;
  flex-direction: column;
  margin-bottom: 7rem;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.end-game-popup {
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.end-game-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: 100%;
  justify-content: center;
}

.normal-game-content {
  background-image: url(/assets/—Pngtree—glass\ ball\ crystal\ ball_5402134.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 27rem;
  height: 27rem;
  position: relative;
  animation: float 3s infinite ease-in-out; /* Adjust timing and animation type as needed */
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.normal-user-entry-popup,
.start-normal-game-popup {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: -3rem;
  gap: 2rem;
  width: 100%;
  height: 100%;
}

.player-secret-number {
  width: 10rem;
  font-size: 1rem;
  border-radius: 1rem;
  border: none;
  padding-left: 1rem;
}

.enter-btn {
  height: 1.5rem;
  width: 3rem;
  border: none;
  border-radius: 1rem;
  font-family: "Fondamento", cursive;
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.205);
}

.enter-btn:hover {
  background-color: #9f2e3e;
  color: whitesmoke;
}

/* .h2-merlins-guess,
.h2-users-secret-number, .h2-end-game-msg {

} */

.h2-merlins-guess,
.h3-number-of-guesses,
.h2-users-secret-number,
.h3-secret-number-msg,
.h3-end-game-msg {
  font-family: "Fondamento", cursive;
  font-size: 1.25rem;
}

.h2-end-game-msg {
  font-size: 1.25rem;
  font-family: "Fondamento", cursive;
  width: 18rem;
  text-align: center;
}

.set-normal-btns,
.quit-btn,
.end-game-quit-btn {
  font-family: "Felipa", serif;
  font-weight: bold;
  font-size: 1rem;
  width: 4rem;
  border: none;
  background-color: rgba(128, 128, 128, 0.205);
  border-radius: 1rem;
}

.end-game-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.end-game-again-btn {
  font-family: "Felipa", serif;
  font-weight: bold;
  font-size: 1rem;
  width: 7rem;
  border: none;
  background-color: rgba(128, 128, 128, 0.205);
  border-radius: 1rem;
}

.set-normal-btns:hover,
.quit-btn:hover,
.end-game-quit-btn:hover, .end-game-again-btn:hover {
  background-color: #9f2e3e;
  color: whitesmoke;
  cursor: pointer;
}

input {
  font-family: "Fondamento", cursive;
}

textarea:focus,
input:focus,
input[textarea]:focus,
.uneditable-input:focus {
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px black;
  outline: 0 none;
}
