


/* * * {
  outline: 1px yellow solid;
} */










/* normal-reverse game mode popup */
.normal-game-popup,
.reverse-game-popup {
  position: fixed;
  inset: 0;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  margin-bottom: 7rem;
}

.normal-game-content,
.reverse-game-content {
  background-image: url(/assets/—Pngtree—glass\ ball\ crystal\ ball_5402134.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 27rem;
  height: 27rem;
  position: relative;
  animation: float 3s infinite ease-in-out; /* Adjust timing and animation type as needed */
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(
      -20px
    ); /* Adjust the distance you want it to float up */
  }
}

.h2-merlins-guess {
  margin-top: -4rem;
}

.h2-merlins-guess,
.h3-number-of-guesses {
  font-family: "Fondamento", cursive;
  font-size: 1.25rem;
}

.number-of-guesses,
.h3-merlins-hint-msg {
  font-family: "Fondamento", cursive;
  font-size: 1.15rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.h2-reverse-game-msg {
  margin-top: -5rem;
  font-family: "Fondamento", cursive;
  font-size: 1.15rem;
}

#secret-number-input {
  margin-bottom: 0.5rem;
}

.set-normal-btns,
.quit-btn {
  font-family: "Felipa", serif;
  font-weight: bold;
  font-size: 1rem;
  width: 4rem;
  border: none;
  background-color: transparent;
  border-radius: 1rem;
}

.set-normal-btns:hover,
.quit-btn:hover {
  background-color: #9f2e3e;
  color: whitesmoke;
  cursor: pointer;
}

#sceret-number-input {
  width: 11rem;
}

textarea:focus,
input:focus,
input[textarea]:focus,
.uneditable-input:focus {
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px black;
  outline: 0 none;
}



