@import url("https://fonts.googleapis.com/css2?family=Felipa&family=Fondamento&family=New+Rocker&display=swap");
.visible {
  display: flex;
}

.hidden {
  display: none;
}

/* * * {
  outline: 1px yellow solid;
} */

body {
  background-image: url(/assets/wepik-export-202402062316101xkV.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
  background-position: left bottom;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
}

/* ready to play page */
.play {
  background-image: url(/assets/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;
  position: fixed;
  inset: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.play h2 {
  margin-top: -1rem;
  color: white;
  font-size: 3rem;
  text-align: center;
  text-shadow: 2px 1px 1px red;
  font-family: "New Rocker", system-ui;
}

.yes-btn {
  font-size: 3.5rem;
  font-family: "Felipa", serif;
  width: 4.25rem;
  height: 4.25rem;
  border: none;
  border-radius: 100%;
  color: whitesmoke;
  text-shadow: 2px 1px 1px red;
  background-color: transparent;
  justify-content: center;
  align-items: center;
}

.yes-btn:hover {
  cursor: pointer;
  color: red;
}

/* game menu page */
.wizard-pic {
  display: none;
}

.title {
  color: white;
  text-shadow: 1px 3px 4px red;
  font-family: "New Rocker", system-ui;
  font-size: 3rem;
  text-align: center;

  margin: 4rem 1rem 4rem 1rem;
}

.game-menu {
  background-image: url("/assets/scroll-paper.png");
  height: 23.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex-direction: column;
  width: 23rem;
  justify-content: center;
  align-items: center;
  position: relative;
}

.menu-btns {
  width: 80%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.menu-btns p {
  text-align: center;
  font-size: 1.15rem;
  font-family: "Fondamento", cursive;
  color: black;
  font-weight: bold;
}

.menu-btns .normal-btn,
.reverse-btn {
  background-color: antiquewhite;
  font-size: 1.5rem;
  font-family: "Felipa", serif;
  width: 8rem;
  height: 3rem;
  border: none;
  box-shadow: 2px 3px 2px brown;
  border-radius: 4px;
}

.menu-btns .normal-btn:hover,
.reverse-btn:hover {
  background-color: aliceblue;
  box-shadow: 2px 3px 2px orangered;
  cursor: pointer;
}

.instructions {
  border: none;
  font-size: 2rem;
  color: #fcd58f;
  background-color: #e4a863;
  position: absolute;
  bottom: 2px;
  right: 2.25rem;
  border-radius: 100%;
}

.instructions:hover {
  cursor: pointer;
  color: crimson;
  background-color: white;
}

/* instructions popup */
.instructions-popup {
  position: fixed;
  inset: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.rule-book {
  background-image: url(/assets/rule-book.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 15rem;
  display: flex;
  flex-direction: column;
}

.rule-book-content {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.rule-book-content p {
  font-size: 1rem;
  margin-top: 2rem;
  width: 6rem;
  font-style: italic;
  color: rgba(0, 0, 128, 0.76);
  font-weight: bold;
}

.close-seal-container {
  width: 100%;
  height: 2rem;
  padding-top: 0.25rem;
}

.close-seal {
  background-image: url(/assets/close-seal.png);
  background-size: cover;
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 18.25rem;
}

.close-seal:hover {
  cursor: pointer;
}

.close-seal i {
  font-size: 1rem;
  color: rgb(218, 58, 58);
  text-shadow: 1px 1px 1px rgb(134, 33, 33);
  margin-right: 0.25rem;
}

/* normal-reverse game mode popup */
.normal-game-popup,
.reverse-game-popup {
  position: fixed;
  inset: 0;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  margin-bottom: 7rem;
}

.normal-game-content,
.reverse-game-content {
  background-image: url(/assets/—Pngtree—glass\ ball\ crystal\ ball_5402134.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 27rem;
  height: 27rem;
  position: relative;
  animation: float 3s infinite ease-in-out; /* Adjust timing and animation type as needed */
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(
      -20px
    ); /* Adjust the distance you want it to float up */
  }
}

.h2-merlins-guess {
  margin-top: -4rem;
}

.h2-merlins-guess,
.h3-number-of-guesses {
  font-family: "Fondamento", cursive;
  font-size: 1.25rem;
}

.number-of-guesses,
.h3-merlins-hint-msg {
  font-family: "Fondamento", cursive;
  font-size: 1.15rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.h2-reverse-game-msg {
  margin-top: -5rem;
  font-family: "Fondamento", cursive;
  font-size: 1.15rem;
}

#secret-number-input {
  margin-bottom: 0.5rem;
}

.set-normal-btns,
.quit-btn {
  font-family: "Felipa", serif;
  font-weight: bold;
  font-size: 1rem;
  width: 4rem;
  border: none;
  background-color: transparent;
  border-radius: 1rem;
}

.set-normal-btns:hover,
.quit-btn:hover {
  background-color: #9f2e3e;
  color: whitesmoke;
  cursor: pointer;
}

#sceret-number-input {
  width: 11rem;
}

textarea:focus,
input:focus,
input[textarea]:focus,
.uneditable-input:focus {
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px black;
  outline: 0 none;
}

/* End of Game Popup */
.end-game-popup {
  position: fixed;
  inset: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.end-game-content {
  background-image: url("/assets/scroll-paper.png");
  height: 23.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  width: 23rem;
  justify-content: center;
  align-items: center;
  position: relative;
}
.h2-end-game-msg {
  width: 15rem;
  text-align: center;
  font-family: "Fondamento", cursive;
}

.h3-end-game-msg {
  font-family: "Fondamento", cursive;
}

.end-game-btns {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
  height: 10rem;
}

.end-game-btns button {
  background-color: antiquewhite;
  font-size: 1.5rem;
  font-family: "Felipa", serif;
  width: 8rem;
  height: 3rem;
  border: none;
  box-shadow: 2px 3px 2px brown;
  border-radius: 4px;
}

.end-game-btns button:hover {
  background-color: aliceblue;
  box-shadow: 2px 3px 2px orangered;
  cursor: pointer;
}

/* desktop */
@media (min-width: 600px) {
  body {
    /* done */
    background-image: url(/assets/wepik-export-202402062316101xkV.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: bottom;
    display: flex;
    overflow: hidden;
  }

  .wizard-pic {
    display: flex;
    position: bottom;
    width: 50%;
    height: auto;
    padding: 0;
    margin: 0;
  }

  h1 {
    /* done */
    font-size: 4rem;
  }

  .game-menu {
    width: 40%;
    flex-direction: column;
    margin: 4rem;
    text-align: center;
    align-items: center;
  }

  .menu-btns {
    background-image: url("/assets/—Pngtree—scroll\ paper\ vintage_7515070.png");
    width: 40rem;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding-top: 10rem;
    align-items: center;
    gap: 2rem;
    position: relative;
  }

  .menu-btns p {
    font-size: 1.5rem;
    font-family: "Fondamento", cursive;
    color: black;
    font-weight: bold;
    margin-bottom: 4rem;
  }

  .menu-btns .normal-btn,
  .reverse-btn {
    background-color: antiquewhite;
    font-size: 1.75rem;
    font-family: "Felipa", serif;
    width: 9rem;
    height: 4rem;
    border: none;
    box-shadow: 2px 3px 2px brown;
    border-radius: 5%;
  }

  .menu-btns .normal-btn:hover,
  .reverse-btn:hover {
    background-color: aliceblue;
    box-shadow: 2px 3px 2px orangered;
    cursor: pointer;
  }

  .instructions {
    border: none;
    box-shadow: none;
    font-size: 1.75rem;
    color: #fcd58f;
    background-color: #e4a863;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 5.5rem;
    margin-bottom: 5rem;
    border-radius: 100%;
  }

  .instructions:hover {
    cursor: pointer;
    color: crimson;
    background-color: white;
  }

  .instructions-popup {
    width: 50%;
    justify-content: center;
    align-items: center;
  }

  .rule-book {
    background-image: url(/assets/rule-book.png);
    background-position: center;
    background-repeat: no-repeat;
    scale: 80%;
    width: 100%;
    height: 45rem;
    display: flex;
    flex-direction: column;
  }

  .rule-book-content {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .rule-book-content p {
    font-size: 2.5rem;
    padding: 5rem;
    font-style: italic;
    color: rgba(0, 0, 128, 0.76);
    font-weight: bold;
  }

  .close-seal-container {
    width: 100%;
    height: 5rem;
    padding-top: 3rem;
  }

  .close-seal {
    background-image: url(/assets/close-seal.png);
    background-size: cover;
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
    margin-left: 84%;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .close-seal:hover {
    cursor: pointer;
  }

  .close-seal i {
    font-size: 2rem;
    color: rgb(218, 58, 58);
    text-shadow: 1px 1px 1px rgb(134, 33, 33);
    margin-right: 0.25rem;
  }

  .play {
    background-image: url(/assets/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: fixed;
    inset: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .play h2 {
    margin-top: -4rem;
    color: white;
    font-size: 5rem;
    text-shadow: 3px 3px 3px orangered;
    font-family: "New Rocker", system-ui;
  }

  .yes-btn {
    background-color: antiquewhite;
    font-size: 1.75rem;
    font-family: "Felipa", serif;
    width: 9rem;
    height: 4rem;
    border: none;
    box-shadow: 2px 3px 2px brown;
    border-radius: 5%;
  }

  .yes-btn:hover {
    background-color: aliceblue;
    box-shadow: 2px 3px 2px orangered;
    cursor: pointer;
  }
}
